@page "/settings"
@page "/settings/{Section}"
@inject NavigationManager NavMng

    <div class="card">
        <div class="card-body">
            <!-- Bordered Tabs -->
            <ul class="nav nav-tabs nav-tabs-bordered" id="borderedTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#bordered-home" type="button" role="tab" aria-controls="home" aria-selected="true">Users</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#bordered-profile" type="button" role="tab" aria-controls="profile" aria-selected="false">File Upload</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#bordered-contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Schools</button>
                </li>
        
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#bordered-department" type="button" role="tab" aria-controls="contact" aria-selected="false">Departments</button>
                </li>
        
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#bordered-history" type="button" role="tab" aria-controls="history" aria-selected="false">History and Logs</button>
                </li>
            </ul>
            <div class="tab-content pt-2" id="borderedTabContent">
                <div class="tab-pane fade show active" id="bordered-home" role="tabpanel" aria-labelledby="home-tab">
                    <UserManagement></UserManagement>
                </div>
                <div class="tab-pane fade" id="bordered-profile" role="tabpanel" aria-labelledby="profile-tab">
                    <FileUpload></FileUpload>
                </div>
                <div class="tab-pane fade" id="bordered-contact" role="tabpanel" aria-labelledby="contact-tab">
                    <SchoolManagement></SchoolManagement>
                </div>
                <div class="tab-pane fade" id="bordered-department" role="tabpanel" aria-labelledby="contact-tab">
                    <DepartmentManagement></DepartmentManagement>
                </div>
                  
                <div class="tab-pane fade" id="bordered-history" role="tabpanel" aria-labelledby="contact-tab">
                    <HistoryAndLogs/>
                </div>
            </div><!-- End Bordered Tabs -->

              
        </div>
        
                </div>
@* *@
@* <div class="row"> *@
@*     <div class="col-1"> *@
@* *@
@* <div class="vbody"> *@
@*     <div class="vmain"> *@
@* *@
@*         <div class="d-flex flex-column flex-shrink-0 bg-light" style="width: 4.5rem;"> *@
@*             <ul class="nav nav-pills nav-flush flex-column mb-auto text-center"> *@
@* *@
@*                 <li class="nav-item"> *@
@*                     <a @onclick="Users" class="nav-link activeL py-3 border-bottom" aria-current="page" title="Manage Users" data-bs-toggle="tooltip" data-bs-placement="right"> *@
@*                         <img src="/images/users-gear-solid.svg" alt="users"  width="20"> *@
@*                     </a> *@
@*                 </li> *@
@*                 <li> *@
@*                     <a @onclick="Database" class="nav-link py-3 border-bottom " title="Import Data" data-bs-toggle="tooltip" data-bs-placement="right"> *@
@*                         <img src="/images/server-solid.svg" alt="" width="20"> *@
@*                     </a> *@
@*                 </li> *@
@*                 <li> *@
@*                     <a @onclick="Schools" class="nav-link py-3 border-bottom" title="Manage Schools" data-bs-toggle="tooltip" data-bs-placement="right"> *@
@*                         <img src="/images/school.svg" alt=""  width="20"> *@
@*                     </a> *@
@*                 </li> *@
@*                 <li> *@
@*                     <a @onclick="Departments" class="nav-link py-3 border-bottom" title="Manage Departments" data-bs-toggle="tooltip" data-bs-placement="right"> *@
@*                         <img src="/images/department.svg" alt=""  width="20"> *@
@*                     </a> *@
@*                 </li> *@
@*                 <li> *@
@*                     <a @onclick="History" class="nav-link py-3 border-bottom" title="View History and Logs" data-bs-toggle="tooltip" data-bs-placement="right"> *@
@*                         <img src="/images/history.svg" alt=""  width="20"> *@
@*                     </a> *@
@*                 </li> *@
@*             </ul> *@
@*             @* <div class="dropdown border-top"> *@
@*                 <a href="#" class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle" id="dropdownUser3" data-bs-toggle="dropdown" aria-expanded="false"> *@
@*                     <img src="https://github.com/mdo.png" alt="mdo" width="24" height="24" class="rounded-circle"> *@
@*                 </a> *@
@*                 <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser3"> *@
@*                     <li><a class="dropdown-item" href="#">New project...</a></li> *@
@*                     <li><a class="dropdown-item" href="#">Settings</a></li> *@
@*                     <li><a class="dropdown-item" href="#">Profile</a></li> *@
@*                     <li><hr class="dropdown-divider"></li> *@
@*                     <li><a class="dropdown-item" href="#">Sign out</a></li> *@
@*                 </ul> *@
@*             </div> *@ 
@*         </div> *@
@*             </div> *@
@*         </div> *@
@* *@
@*     </div> *@
@*     <div class="col-11"> *@
@*         @Render(SelectedSetting) *@
@*     </div> *@
@* </div> *@
@* *@
@code {
    [Parameter]
    public String Section {get; set; }
    public RenderFragment Render(Type type) => builder =>
    {
        builder.OpenComponent(0, type);
        builder.CloseComponent();
    };
      protected override async void OnInitialized()
          {
            if(Section is not null){
                if(Section.ToLower().Equals("departments") || Section.ToLower().Equals("department")) Departments();
                else if (Section.ToLower().Equals("users")) Users();
                else if (Section.ToLower().Equals("schools")) Schools();
                else if (Section.ToLower().Equals("database")) Database();
                else NavMng.NavigateTo($"{Section.ToLower()}");
            }
          }

    public Type SelectedSetting { get; set; } = typeof(UserManagement);
    Task Users()
    {
         SelectedSetting = typeof(UserManagement);
         return Task.CompletedTask;
    }
    Task Database()
    {
        SelectedSetting = typeof(FileUpload);
        return Task.CompletedTask;
    }
    Task Schools()
    {
        SelectedSetting = typeof(SchoolManagement);
        return Task.CompletedTask;
    }
    Task Departments()
    {
        SelectedSetting = typeof(DepartmentManagement);
        return Task.CompletedTask;
    }
    Task History()
    {
        SelectedSetting = typeof(HistoryAndLogs);
        return Task.CompletedTask;
    }
}