
<style>
    #overlay {
        position: absolute; /* Sit on top of the page content */
        display: block; /* Hidden by default */
        width: 100%; /* Full width (cover the whole page) */
        height: 100%; /* Full height (cover the whole page) */
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5); /* Black background with opacity */
        z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
        cursor: pointer; /* Add a pointer on hover */
        transition: opacity 1.0s ease-in-out, visibility 1.3s ease-in-out;
    }
</style>


<div id="overlay" class="d-flex justify-content-center align-items-center">
    <div>
        <img src="/images/loading.gif" width="25" />
        @*<p class="text-white text-center">@Message</p>*@
    </div>
</div>



@code {
    [Parameter]
    public string Message { get; set; } = "Loading...";
    public string _loadingStyle = "display: flex; align-items: center; justify-content: center;";
}
