@inherits LayoutComponentBase
@inject IAuthService _authService;

@* <div class="page"> *@
@*     <div class="sidebar hide-"> *@
@*         <NavMenu /> *@
@*     </div> *@
@* *@
@*     <main > *@
@*         <div class="hide-"> *@
@*               <div class="top-row px-4 "> *@
@*                                   @if(roles is not null && roles.Count > 0) *@
@*                     { *@
@*                         <li class="nav-item rounded"> *@
@*                             <a class="nav-link active" aria-current="page" href="#"><img src="/images/user.svg" width="20" class="mx-2"/>@roles[0] <img @onclick="_authService.LogOut" src="/images/exit.svg" width="20" class="mx-2" /></a> *@
@*                              *@
@*                         </li> *@
@*                     } *@
@*         </div> *@
@* *@
@*         </div> *@
@*        *@
@*         <article class="content px-4"> *@
@*             @Body *@
@*         </article> *@
@*     </main> *@
@* </div> *@

@* @code { *@
@*     List<string> roles { get; set; } *@
@*     protected override async void OnInitialized() *@
@*     { *@
@*         roles = await _authService.WhatRoles(); *@
@*         StateHasChanged(); *@
@*     } *@
@*     private bool collapseNavMenu = true; *@
@* *@
@*     private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null; *@
@* *@
@*     private void ToggleNavMenu() *@
@*     { *@
@*         collapseNavMenu = !collapseNavMenu; *@
@*     } *@
@* } *@


<AuthorizeView>
    <Authorized>
        <Topbar/>
        <NavMenu/>
        <main id="main" class="main">
            @Body
        </main>


    </Authorized>
    <NotAuthorized>
        @Body
    </NotAuthorized>
</AuthorizeView>

