<div class="">
  <div class="row">
    <div class="col">
      <h5>Quick Actions</h5>
    </div>
  </div>
  <div class="row">
    <div class="col">
        <img class="img-fluid" src="/images/list-check-solid.svg" alt="">
        View Tasks
    </div>
    <div class="col">
        <img class="img-fluid" src="/images/clock-rotate-left-solid.svg" alt="">
        View Logs
    </div>
    <div class="col">
        <img class="img-fluid" src="/images/download-solid.svg" alt="">
        Import Data
    </div>
    <div class="col">
        <img class="img-fluid" src="/images/upload-solid.svg" alt="">
        Export Data
    </div>
    <div class="col">
        <img class="img-fluid" src="/images/school.svg" alt="">
        Manage School
    </div>
    <div class="col">
        <img class="img-fluid" src="/images/department.svg" alt="">
        Manage Programs
    </div>
  </div>
</div>